{% extends 'base.html' %}
{% load static %}
{% block title %}Connexion{% endblock title %}


{% block content %}
<section class="hero-section " style="background-image: url({% static 'assets/img/our-img.jpg' %})">
    <div class="container">
        <h2 class="text-center">Connexion</h2>
        <ul>
            <li><i class="fa-solid fa-house"></i><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'connexion' %}">Connexion</a></li>  
        </ul>
    </div>
</section>
<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
                {% if form.errors %}
                    <p class="text-center text-danger mt-2">Il y a des erreurs dans le formulaire. Veuillez corriger les champs marqués en rouge 😔.</p>
                    <ul class="text-center text-danger">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|capfirst }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                <form class="content-form" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <center>
                        <button class="sec-btn" type="submit">Se connecter</button>
                        <p class="mt-3">
                            - Vous avez oublié votre mot de passe ?
                        </p>
                        <a href="{% url 'inscription' %}">Cliquez ici pour le réinitialiser</a>
                        <p class="mt-3">
                            - Vous n'avez pas de compte ? c'est que vous n'avez pas encore reçu un de nos cartes numériques
                        </p>
                        <a href="{% url 'inscription' %}">Cliquez ici pour procéder à la commande</a>
                        </center>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}