{% extends 'base.html' %} 
{% load static %} 
{% block title %}Modification{%endblock title %} 
{% block scriptSelectHead %}
<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
<style>
  .errorlist li {
    list-style-type: none;
    color: red;
    margin-top: -5px;
    margin-left: -0.5px;
  }

  .select2-container--default .select2-results__option img,
  .select2-container--default .select2-selection__rendered img {
    max-width: 20px; /* Définissez la largeur maximale */
    max-height: 20px; /* Définissez la hauteur maximale */
    margin-right: 5px;
  }

  #emailSelect {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: -10px;
    border: 1px solid #c1c1c1;
    color: #555;
    outline: none;
  }
  .select2-container--default .select2-selection--multiple {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100% !important;
    border-radius: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: -10px;
    border: 1px solid #c1c1c1;
    color: #555;
    outline: none;
  }

  .select2-container--default .select2-selection__choice {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select2-container--default .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
  }

    #photo_preview, #photo_preview1 {
        border-radius: 20px;
        overflow: hidden;
        width: 300px;
        height: 200px;
        position: relative;
        border: 2px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #preview_image, #preview_image1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    #photo_upload, #photo_upload1 {
        display: none;
    }
    

  .custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
  }
</style>
{% endblock scriptSelectHead %} {% block scriptSelectFooter %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {  
    updateEmailSelect();

    {% if user.facebook %}
    // Force la sélection d'un élément dans select2
        $('#monSelect').val("facebook").trigger('change');
        addInput('facebook')
    {% endif %}


    {% if user.photo_couverture %}
        $("#preview_image").attr("src", "{{user.photo_couverture.url}}");
    {% endif %}
    {% if user.photo_profile %}
        $("#preview_image1").attr("src", "{{user.photo_profile.url}}");
    {% endif %}
    // Initialisez la liste des réseaux sociaux
    let socialMediaList = [];

    $("#monSelect").select2({
      // Ajoutez l'option placeholder avec le texte que vous souhaitez afficher
      placeholder: "Réseaux sociaux",
      search: true,
      // Utilisez le format de résultat personnalisé pour inclure des images
      templateResult: formatResult,
      // Utilisez le format de sélection personnalisé pour inclure des images dans la sélection
      templateSelection: formatSelection,
    });

    $("#monSelect").on("select2:unselect", function (e) {
      // Récupérez l'élément qui a été retiré
      let removedElement = e.params.data.id;

            removeInput(removedElement)

            // Ajoutez ici le code pour gérer l'élément retiré
        });

        $('#monSelect').on('select2:select', function (e) {
            // Récupérez l'élément qui a été retiré
            let selectedElement = e.params.data.id;
            addInput(selectedElement)
            // Ajoutez ici le code pour gérer l'élément retiré
        });

        function addInput(selectedOption) {
            let lien = null

            if(selectedOption === "facebook") lien = "{{user.facebook}}"
            if(selectedOption === "linkedin") lien = "{{user.linkedin}}"
            if(selectedOption === "x") lien = "{{user.x}}"
            if(selectedOption === "instagram") lien = "{{user.instagram}}"
            if(selectedOption === "whatsapp_business") lien = "{{user.whatsapp_business}}"
            if(selectedOption === "quora") lien = "{{user.quora}}"
            if(selectedOption === "reddit") lien = "{{user.reddit}}"
            if(selectedOption === "snapchat") lien = "{{user.snapchat}}"
            if(selectedOption === "pinterest") lien = "{{user.pinterest}}"
            if(selectedOption === "youtube") lien = "{{user.youtube}}"
            if(selectedOption === "medium") lien = "{{user.medium}}"
            if(selectedOption === "tiktok") lien = "{{user.tiktok}}"

            let newInput = document.createElement('input');
                newInput.type = 'text';
                newInput.name = selectedOption;
                newInput.placeholder = `Copier votre lien du réseau social ${selectedOption} ici`;
                newInput.value = lien
                document.getElementById('selectContainer').appendChild(newInput);
        }

        function removeInput(selectedOption) {
            let inputs = document.getElementsByName(selectedOption);
            let lastInput = inputs[inputs.length - 1];

            if (lastInput) {
                lastInput.parentNode.removeChild(lastInput);
            }
        }
 
        // Mettre à jour les attributs à chaque suppression

        function updateEmailSelect() {
            let emailOptions = [];
            $(".emailField input").each(function () {
                let emailValue = $(this).val();
                if (emailValue.trim() !== "") {
                    emailOptions.push('<option value="' + emailValue + '">' + emailValue + '</option>');
                }
            });
            $("#emailSelect").html(emailOptions.join(''));
        }

        // Ajouter l'e-mail au select au moment où l'on finit de saisir l'e-mail
        $("#emailContainer").on("blur", "input[type=email]", function () {
            if ($(this).val().trim() !== "") {
                updateEmailSelect();
            }
        });

        // Fonction pour formater le résultat avec des images
        function formatResult(result) {
            if (!result.id) {
                return result.text;
            }

            // Créez un élément span contenant une image et le texte de l'option
            let $result = $(
                '<span><img src="' + result.element.getAttribute('data-image') + '" class="img-flag" /> ' + result.text + '</span>'
            );

            return $result;
        }

        // Fonction pour formater la sélection avec des images
        function formatSelection(result) {
            // Si l'option sélectionnée n'a pas d'id, retournez le texte par défaut
            if (!result.id) {
                return result.text;
            }

            // Créez un élément span contenant une image et le texte de l'option sélectionnée
            let $selection = $(
                '<span><img src="' + result.element.getAttribute('data-image') + '" class="img-flag" /> ' + result.text + '</span>'
            );

            return $selection;
        }


        // Détecter le changement de l'input de type file
        $("#photo_upload").change(function () {
            previewImage(this);
        });

        $("#photo_upload1").change(function () {
            previewImage1(this);
        });

        function previewImage(input) {
            var file = input.files[0];

            if (file) {
                var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                if (!allowedExtensions.exec(file.name)) {
                    alert('Veuillez télécharger un fichier de type image (JPG, JPEG, PNG).');
                    $("#photo_upload").val('');
                    return;
                }

                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#preview_image").attr("src", e.target.result);
                };
                reader.readAsDataURL(file);
            }
        }


        function previewImage1(input) {
            var file = input.files[0];

            if (file) {
                var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                if (!allowedExtensions.exec(file.name)) {
                    alert('Veuillez télécharger un fichier de type image (JPG, JPEG, PNG).');
                    $("#photo_upload1").val('');
                    return;
                }

                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#preview_image1").attr("src", e.target.result);
                };
                reader.readAsDataURL(file);
            }
        }

    });
</script>
{% endblock scriptSelectFooter %} {% block content %}
<section
  class="hero-section"
  style="background-image: url({% static 'assets/img/our-img.jpg' %})"
>
  <div class="container">
    <h2 class="text-center">Modification</h2>
    <ul>
      <li>
        <i class="fa-solid fa-house"></i><a href="{% url 'index' %}">Accueil</a>
      </li>
      <li><a href="{% url 'modifier_profile' %}">Modification</a></li>
    </ul>
  </div>
</section>
<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
                <div class="heading two mb-5 text-center">
                    <h5 class="mt-3"><b>(*) : obligatoire</b></h5>
                </div>
                {% if form.errors %}
                    <p class="text-center text-danger mt-2">Il y a des erreurs dans le formulaire. Veuillez corriger les champs marqués en rouge 😔.</p>
                    <ul class="text-center text-danger">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|capfirst }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            
                <form class="content-form" action="{% url 'modifier_profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="mb-3">1 - Infos personnelles</h3>
                        <input type="text" name="last_name" placeholder="Votre nom complet (*)" value="{{ form.last_name.value|default:'' }}">
                        <p class="text-center text-danger">{{ form.last_name.errors }}</p>
                        <input type="text" name="first_name" class="mt-3" placeholder="Votre prénom complet (*)" value="{{ form.first_name.value|default:'' }}">
                        <span id="first_name_error" class="text-danger"></span>
                        <p class="text-center text-danger">{{ form.first_name.errors }}</p>
                        <input type="text" name="adresse" class="mt-3" placeholder="Votre adresse (*)" value="{{ form.adresse.value|default:'' }}">
                        <p class="text-center text-danger">{{ form.adresse.errors }}</p>
                        <div>
                            <h4 class="text-center mt-4">Vos emails</h4>
                            <p class="text-center" style="font-size: 14px;">
                                (Laissez vide le champ de l'email que vous n'allez plus utiliser)
                            </p>
                        </div>
                        <div id="emailContainer" class="mb-3">
                            <div class="emailField">
                                <label for="email" class="text-white">Votre premier email:</label>
                                <input type="email" name="email1" value="{{ form.email1.value|default:'' }}" placeholder="Votre premier email (*)">
                                <p class="text-center text-danger">{{ form.email1.errors }}</p>
                                <button type="button" class="removeEmail btn btn-danger mb-3" style="display:none;">Supprimer un email</button>
                            </div>
                            <div class="emailField">
                                <label for="email" class="text-white">Votre deuxième email:</label>
                                <input type="email" name="email2" value="{{ form.email2.value|default:'' }}" placeholder="Votre deuxième email">
                                <p class="text-center text-danger">{{ form.email2.errors }}</p>
                                <button type="button" class="removeEmail btn btn-danger mb-3" style="display:none;">Supprimer un email</button>
                            </div>
                            <div class="emailField">
                                <label for="email" class="text-white">Votre troisième email:</label>
                                <input type="email" name="email3" value="{{ form.email3.value|default:'' }}" placeholder="Votre troisième email">
                                <p class="text-center text-danger">{{ form.email3.errors }}</p>
                                <button type="button" class="removeEmail btn btn-danger mb-3" style="display:none;">Supprimer un email</button>
                            </div>
                            <div class="emailField">
                                <label for="email" class="text-white">Votre quatrième email:</label>
                                <input type="email" name="email4" value="{{ form.email4.value|default:'' }}" placeholder="Votre quatrième email">
                                <p class="text-center text-danger">{{ form.email4.errors }}</p>
                                <button type="button" class="removeEmail btn btn-danger mb-3" style="display:none;">Supprimer un email</button>
                            </div>
                            <div class="emailField">
                                <label for="email" class="text-white">Votre cinquième email:</label>
                                <input type="email" name="email5" value="{{ form.email5.value|default:'' }}" placeholder="Votre cinquième email">
                                <p class="text-center text-danger">{{ form.email5.errors }}</p>
                                <button type="button" class="removeEmail btn btn-danger mb-3" style="display:none;">Supprimer un email</button>
                            </div>
                        </div>
                        <div>
                            <h4 class="text-center mt-4">Vos numéros de téléphone</h4>
                            <p class="text-center" style="font-size: 14px;">
                                (Laissez vide le champ du numéro de téléphone que vous n'allez plus utiliser)
                            </p>
                        </div>
                        <div id="phoneContainer" class="mb-3">
                            <div class="phoneField">
                                <label for="phone" class="text-white">Votre premier numéro de téléphone:</label>
                                <input type="phone" name="phone1" value="{{ form.phone1.value|default:'' }}" placeholder="Votre premier numéro de téléphone (*)">
                                <p class="text-center text-danger">{{ form.phone1.errors }}</p>
                                <button type="button" class="removePhone btn btn-danger mb-3" style="display:none;">Supprimer un numéro de téléphone</button>
                            </div>
                            <div class="phoneField">
                                <label for="phone" class="text-white">Votre deuxième numéro de téléphone:</label>
                                <input type="phone" name="phone2" value="{{ form.phone2.value|default:'' }}" placeholder="Votre deuxième numéro de téléphone">
                                <p class="text-center text-danger">{{ form.phone2.errors }}</p>
                                <button type="button" class="removePhone btn btn-danger mb-3" style="display:none;">Supprimer un numéro de téléphone</button>
                            </div>
                            <div class="phoneField">
                                <label for="phone" class="text-white">Votre troisième numéro de téléphone:</label>
                                <input type="phone" name="phone3" value="{{ form.phone3.value|default:'' }}" placeholder="Votre troisième numéro de téléphone">
                                <p class="text-center text-danger">{{ form.phone3.errors }}</p>
                                <button type="button" class="removePhone btn btn-danger mb-3" style="display:none;">Supprimer un numéro de téléphone</button>
                            </div>
                            <div class="phoneField">
                                <label for="phone" class="text-white">Votre quatrième numéro de téléphone:</label>
                                <input type="phone" name="phone4" value="{{ form.phone4.value|default:'' }}" placeholder="Votre quatrième numéro de téléphone">
                                <p class="text-center text-danger">{{ form.phone4.errors }}</p>
                                <button type="button" class="removePhone btn btn-danger mb-3" style="display:none;">Supprimer un numéro de téléphone</button>
                            </div>
                            <div class="phoneField">
                                <label for="phone" class="text-white">Votre cinquième numéro de téléphone:</label>
                                <input type="phone" name="phone4" value="{{ form.phone5.value|default:'' }}" placeholder="Votre cinquième numéro de téléphone">
                                <p class="text-center text-danger">{{ form.phone5.errors }}</p>
                                <button type="button" class="removePhone btn btn-danger mb-3" style="display:none;">Supprimer un numéro de téléphone</button>
                            </div>
                        </div>

                        {% if user.photo_couverture %}
                            <p class="mb-3 text-center">Voulez vous changer votre photo de couverture ?</p>
                        {% else %}
                            <p class="mb-3 text-center">Allez-vous ajouter une photo de couverture ?</p>
                        {% endif %}
                        <center>
                        <div id="photo_preview">
                            <img id="preview_image" alt="Aucune image choisie">
                        </div>
                        <label for="photo_upload" class="custom-file-upload mt-2">
                            Choisir une image
                        </label>
                        <input type="file" name="photo_couverture" id="photo_upload" accept="image/jpeg, image/png, image/jpg">
                        <p class="text-center text-danger">{{ form.photo_couverture.errors }}</p>
                        </center>

                        {% if user.photo_profile %}
                            <p class="mb-3 text-center">Voulez vous changer votre photo de profile ?</p>
                        {% else %}
                            <p class="mb-3 mt-5 text-center">Photo de profile (*)</p>
                        {% endif %}
                        <center>
                        <div id="photo_preview1">
                            <img id="preview_image1" alt="Aucune photo choisie">
                        </div>
                        <label for="photo_upload1" class="custom-file-upload mt-2">
                            Choisir une photo
                        </label>
                        <input type="file" name="photo_profile" id="photo_upload1" accept="image/jpeg, image/png, image/jpg">
                        <p class="text-center text-danger">{{ form.photo_profile.errors }}</p>
                        </center>
                        
                        
                        
                        <h3 class="mb-3 mt-3">2 - Infos professionnelles</h3>
                        <input type="text" name="fonction" value="{{ form.fonction.value|default:'' }}" placeholder="Votre fonction (*)">
                        <p class="text-center text-danger">{{ form.fonction.errors }}</p>
                        <div id="selectContainer" class="mt-3">
                            <select id="monSelect" style="width: 100%;" multiple>
                                <!-- Ajoutez l'option disabled selected pour créer un placeholder -->
                                <option value="facebook" data-image="{% static 'assets/img/logos/facebook.png' %}">Facebook</option>
                                <option value="instagram" data-image="{% static 'assets/img/logos/instagram.jpg' %}">Instagram</option>
                                <option value="x" data-image="{% static 'assets/img/logos/x.png' %}">X</option>
                                <option value="whatsapp_business" data-image="{% static 'assets/img/logos/whatsapp_business.png' %}">Whatsapp Business</option>
                                <option value="quora" data-image="{% static 'assets/img/logos/quora.png' %}">Quora</option>
                                <option value="reddit" data-image="{% static 'assets/img/logos/reddit.png' %}">Reddit</option>
                                <option value="snapchat" data-image="{% static 'assets/img/logos/snapchat.png' %}">SnapChat</option>
                                <option value="pinterest" data-image="{% static 'assets/img/logos/pinterest.png' %}">Pinterest</option>
                                <option value="youtube" data-image="{% static 'assets/img/logos/youtube.webp' %}">YouTube</option>
                                <option value="linkedin" data-image="{% static 'assets/img/logos/linkedin.webp' %}">LinkedIn</option>
                                <option value="medium" data-image="{% static 'assets/img/logos/medium.png' %}">Medium</option>
                                <option value="tiktok" data-image="{% static 'assets/img/logos/tiktok.png' %}">TikTok</option>
                            </select>
                        </div>
                        <input type="text" name="siteweb" value="{{ form.siteweb.value|default:'' }}" placeholder="Votre site web">
                        <p class="text-center text-danger">{{ form.siteweb.errors }}</p>
                        <h3 class="mb-3 mt-3">3 - Infos de connexion</h3>
                        <p class="mb-3 text-center">Sélectionnez votre email pour la connexion à votre compte (*)</p>
                        <select id="emailSelect" name="email"></select>
                        {% if form.password1.help_text %}
                            <div class="helptext mb-3" id="id_password1_helptext">
                                {{ form.password1.help_text }}
                            </div>
                        {% endif %}
                        <center>
                        <button class="sec-btn mt-3" type="submit">Modifier</button>
                        
                        </center>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
